* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(90, 90, 90);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 450px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 5px 15px 25px rgba(20, 4, 4, 0.8);
}

.container .mensagens {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 25px;
    background: red;
}

.container .formBx {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container .formBx form input {
    display: flex;   
    text-indent: 10px;
}

.container .formBx form input[type="submit"] {
    padding: 10px 15px;
    text-indent: 0;
}