@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 350px;
    height: 450px;
}

.container .formbx {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .formbx form .inputs {
    margin-bottom: 15px;
}