* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgb(88, 88, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    background: #fff;
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.container h2 {
    color: rgb(3, 9, 44);
}